body {
    font-family: 'Raleway', sans-serif;
    }
header {
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.container img{
    width: 2rem;
    color: white;
}
.color-vino{
    color: rgb(81, 16, 5);
}

.fondo{
    background-color: rgb(81, 16, 5);
} 

#vinas{
    margin: 2rem;
}
.viñedos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    gap:20px;
}

.viñedos p{
    font-size: 1rem;
    max-width: 80%;
}
