body {
    font-family: 'Raleway', sans-serif;
    }
header {
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.container img{
    width: 2rem;
    color: white;
}
.color-vino{
    color: rgb(81, 16, 5);
}

.fondo{
    background-color: rgb(81, 16, 5);
} 

#vinas{
    margin: 2rem;
}
.viñedos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;
    gap:20px;
}

.viñedos img{
    max-width: 100%;
}

.viñedos p{
    font-size: 1rem;    
    max-width: 100%;
    justify-content: center;    
}

.nets{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.facebook, .instagram, .whatsapp{
    color:white;
    padding: 0.5rem;
    border-radius: 30%;
    width: 2.5rem;
       
}

.facebook{
    background-color: rgb(15,15,196);
}

.instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.whatsapp{
 background-color: rgb(37, 211, 102);
}
